/*------------------------Home Page-------------------------------*/
html, body, #fullheight {
  min-height: 100vh !important;
  height: 100%;
}
footer {
  bottom:0;
  text-align: center;
  padding: 40px;
  background-color: #35478C;
  color: white;
  width: 100%;
}


body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  background-color: #557AB5;
}

/*navigation*/
* {
  padding: 0;
  margin: 0;
  oration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  background: #35478C;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  overflow:hidden
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 14px;
  border-radius: 5px;
  text-transform: uppercase;
}

nav a{
  transition: color 0.4s, background-color 0.5s ease;
}


nav a .active {
  /*transition: 0.5s;*/
  background: #F27405;
}

nav a:hover {
  color: #F27405;
  /*transition: .5s;*/
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 80vh;
    background: #35478C;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked~ul {
    left: 0;
  }
}

/* Animated Cardiogram EKG*/
.intro-block svg .ekg {
  fill: none;
  position: fixed;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: miter;
  opacity: 0;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: ekg 4s linear forwards infinite;
}

.intro-block {
  padding-top: 40px;
}

@keyframes ekg {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    stroke-dashoffset: 2000;
  }

  99% {
    opacity: 0;
    stroke-dashoffset: 3000;
  }

  100% {
    stroke-dashoffset: 1000;
  }
}

/*text under EKG*/
#text {
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 3;
  padding:10px
}

u{
  text-decoration: underline;
}

/*general features*/
.description {
  color: white;
}

.featurescontainer {
  text-align: justify;
  padding: 5% 4% 0 4%;
  width: 100%;
}

.feature1container, .feature2container, .feature3container {
  margin-bottom: 5%;
}

.feature1, .feature3 {
  width: 100%;
  /* margin-left: 5%; */
  /* position: absolute; */
}

.textBox {
  width: 60%;
}

/*feature 1*/
#feature1img {
  width: 120px;
  height: 120px;
}

#img1container {
  margin-top: auto;
  margin-bottom: 0;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}

.feature1 {
  display: flex;
  justify-content: start;
  top: 20%;
}

.featureone {
  text-align: center;
  line-height: 2;
  color: #F27405;
}

/*feature 2*/
.feature2container {
  display: flex;
  top: 20%;
}

.img2container {
  margin-top: auto;
  margin-bottom: 0;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}

#feature2img {
  width: 120px;
  height: 120px;
}

.feature2 {
  /* position: absolute; */
  top: 60%;
  width: 100%;
  margin-right: 5%;
}

#featuretwo {
  text-align: center;
  line-height: 2;
  color: #F27405;
}

/*feature 3*/
.feature3container {
  display: flex;
  padding-bottom: 100px;
}

#img3container {
  margin-top: auto;
  margin-bottom: 0;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}

#feature3img {
  width: 120px;
  height: 120px;
}

.feature3 {
  display: flex;
  justify-content: start;
  top: 20%;
}

.featurethr {
  text-align: center;
  line-height: 2;
  color: #F27405;
}

/* --------------------------------- ABOUT US PAGE ---------------------------------------------------------*/
#aboutpage {
  width: 100%;
  height: auto%;
  background-color: #557AB5;
}

.aboutcontainer {
  text-align: justify;
  padding: 3% 4% 4% 4%;
  width: 100%;
  height: auto%;
}

.abouttext {
  text-align: justify;
}

blockquote{
  padding-top: 12px;
  font-size: 13px;
  text-align: justify;
}

.eleni blockquote {
  color: white;
}

.signe blockquote {
  color: white;
}

.amy blockquote {
  color: white;
}

.yasmine blockquote {
  color: white;
}

.emmanuel blockquote {
  color: white;
}

.aboutuscontainer {
  display: flex;
  justify-content: start;
  margin-bottom: 5%;
}

.aboutuspicturescontainer {
  width: 170%;
  display: flex;
  margin-top: 2%;
}

.aboutus {
  width: 100%;
  top: 120%;
  margin-top: 2%;
}

.aboutpage {
  color: #ffffff;
}

.abouttext {
  color: #F27405;
  font-size: 36px;
  padding-top:50px;
  margin-bottom: 5%;
}

.textBox blockquote {
  color: white;
  margin-right: 10%;
}

#aboutustext {
  width: 45%;
  height: 50%;
  margin-top: 2%;
}

.aboutnames {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

#contactus {
  margin-top: 20%;
  margin-left: 15%;
  white-space: nowrap;
}

#eleni, #signe, #amy, #yasmine, #emmanuel {
  font-size: 12px;
  height: 140px;
  width: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.eleni, .signe, .amy, .yasmine, .emmanuel {
  height: 100%;
  width: 100%;
  padding: 15px;
}

#aboutemail {
  width: 65px;
  height: 65px;
}

.aboutcontactcontainer {
  display: flex;
  width: 20%;
  margin-top: 5%;
}

#aboutpage a:hover img {
  opacity: 0.6;
  background-color: none;
}

#aboutpage a:hover p {
  color: #f27405;
}

/*message form*/
.frame {
  width: 600px;
  height: 350px;
  margin: 270px auto 0;
  position: relative;
  background: #435d77;
  border-radius: 0 0 40px 40px;
}

#button_open_envelope {
  width: 180px;
  height: 40px;
  position: absolute;
  z-index: 311;
  top: 250px;
  left: 208px;
  border-radius: 10px;
  color: #fff;
  font-size: 26px;
  padding: 1px 0;
  padding-bottom: 10px;
  border: 2px solid #fff;
  transition: .3s;
  text-align: center;
}

#button_open_envelope:hover {
  background: #FFf;
  color: #2b67cb;
  transform: scale(1.1);
  transition: background .25s, transform .5s, ease-in;
  cursor: pointer;
}

.message {
  position: relative;
  width: 580px;
  min-height: 300px;
  height: auto;
  background: #fff;
  margin: 0 auto;
  top: 30px;
  box-shadow: 0 0 5px 2px #333;
  transition: 2s ease-in-out;
  transition-delay: 1.5s;
  z-index: 300;
}

.left, .right, .top {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  bottom:100px;
  z-index: 310;
}

.left {
  border-left: 300px solid #337efc;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
}

.right {
  border-right: 300px solid #337efc;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  ;
  left: 300px;
}

.top {
  border-right: 300px solid transparent;
  border-top: 200px solid #03A9F4;
  border-left: 300px solid transparent;
  transition: transform 1s, border 1s, ease-in-out;
  transform-origin: top;
  transform: rotateX(0deg);
  z-index: 500;
}

.bottom {
  width: 600px;
  height: 190px;
  position: absolute;
  background: #2b67cb;
  top: 160px;
  bottom:100px;
  border-radius: 0 0 30px 30px;
  z-index: 310;
}

.open {
  transform-origin: top;
  transform: rotateX(180deg);
  transition: transform .7s, border .7s, z-index .7s ease-in-out;
  border-top: 200px solid #2c3e50;
  z-index: 200;
}

.pull {
  -webkit-animation: message_animation 2s 1 ease-in-out;
  animation: message_animation 2s 1 ease-in-out;
  -webkit-animation-delay: .9s;
  animation-delay: .45s;
  transition: 1.5s;
  transition-delay: 1s;
  z-index: 350;
}

#name, #email, #phone, #message, #send {
  margin: 0;
  padding: 0 0 0 10px;
  width: 570px;
  height: 40px;
  float: left;
  display: block;
  font-size: 18px;
  color: #2b67cb;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  letter-spacing: normal;
}

#message {
  height: 117px;
  width: 560px;
  overflow: auto;
  border: none;
  padding: 10px;
}

#send {
  width: 580px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: #F27405;
  color: #fff;
  transition: .35s;
  letter-spacing: 1px;
}

#send:hover {
  background: tomato;
  transition: .35s;
}

#name, #email, #phone, #message, #send::-moz-placeholder {
  color: #35478C;
  font-family: 'Poppins';
  font-size: 20px;
  opacity: 1;
}

#name,#email,#phone,#message,#send::-webkit-input-placeholder {
  color: #35478C;
  font-family: 'Poppins';
  font-size: 20px;
}

*:focus {
  outline: none;
}

input:focus:invalid, textarea:focus:invalid {
  /* when a field is considered invalid by the browser */
  background: #fff url(images/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border: 1px solid #b03535;
}

input:required:valid, textarea:required:valid {
  /* when a field is considered valid by the browser */
  background: #fff url(images/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

@-webkit-keyframes message_animation {
  0% {
    transform: translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
  }

  50% {
    transform: translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
  }

  51% {
    transform: translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }

  100% {
    transform: translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}

@keyframes message_animation {
  0% {
    transform: translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
  }

  50% {
    transform: translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
  }

  51% {
    transform: translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }

  100% {
    transform: translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}

/* ----------- Visualisation Page ----------------------------*/
#side_panel {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 40%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  float: left;
  color: white;
  text-align: left;
  overflow: auto;
}

#header3 {
  line-height: 2;
  color: #F27405;
}

input[type='radio']:checked~label {
  color: #F27405;
}

#radio div label:hover {
  color: #F27405;
  cursor: pointer;
}

#radio div label:checked {
  color: #F27405;
}

#msoa_display {
  border: 2px solid white;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  top: 15px;
  height: fixed;
  overflow: auto;
  white-space: nowrap;
  border-radius: 10px;
  display: none;
}

#msoa_name {
  height: 100%;
  float: left;
  font-size: 15px;
}

#mapbox {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 60%;
  right: 0;
}

.box {
  color: #fff;
  text-align: left;
  display: none;
  margin-top: 45px;
}

.Deaths {
  height: 300px;
}

.Clusters {}

.ClusterDescription {
  border: 1px solid white;
  margin: 15px;
  vertical-align: middle;
  height: auto;
  font-size: 14px;
  padding: 5%;
  border-radius: 10px
}

.ClusterDescription u {
  font-weight: bold;
  font-style: italic;
}

#Cluster1 {
  background-color: #D47500;
}

#Cluster2 {
  background-color: #009FD4;
}

#Cluster3 {
  background-color: #B381B3;
}

#Cluster4 {
  background-color: #00AA55;
}

#Cluster5 {
  background-color: #AA0000;
}

#Cluster6 {
  background-color: #939393;
}

#Cluster7 {
  background-color: #A74165;
}

#clear_selection {
  width: 50% height:100%;
  float: right;
  display: none;
}

.close {
  float: right
}

.close:hover {
  color: #F27405;
  cursor: pointer;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
  z-index: 100;
}

#legend {
  padding: 10px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 225px;
  margin-bottom: 40px;
  width: 200px;
  display: none;
  border: 2px solid;
  border-color: #557AB5;
  color: #35478C;
}

#chart {
  height: 300px;
}

#info {
  font-size: 12px;
}

#info:hover {
  color: #F27405;
  cursor: pointer;
}

#legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20px;
  /* Location of the box */
  padding-bottom: 20px;
  left: 0;
  bottom: 0;
  top: 80px;
  width: 40%;
  /* Full width */
  /*height: 100%; /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

/* Modal Content */
.modal-content {
  background-color: #557AB5;
  font-size: 14px;
  color: white;
  top: 20px;
  margin: auto;
  text-align: left;
  padding: 20px;
  border: 1px solid white;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: 0px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: 0px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.modal-content a {
  color: #ffedc9;
}

.modal-content a:hover {
  color: #F27405;
}

/* ------------------------- STORY PAGE ------------------------*/
.storycontainer {
  color: white;
  max-width: 100%;
}

/*Text styles*/
#stitle {
  text-align: center;
  padding: 70px 5px 20px 50px;
  width: 100%;
}

.shtxt {
  text-align: center;
  padding: 50px 5px 30px 5px;
  width: 100%;
}

.stxt {
  display: block;
  max-width: 100%;
  column-count: 2;
  padding: 50px 50px 30px 50px;
}

.stxtr {
  width: 100%;
  padding: 5px 5px 5px 5px;
}

#scentaltxt {
  text-align: center;
  padding: 50px 5px 50px 5px;
  width: 100%;
  padding: 50px 5px 60px 5px;
}

/*Collapsible Menu*/
.collapsible {
  background-color: #35478C;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: 'Poppins'
}

/*Background colour when button clicked*/
.active, .collapsible:hover {
  background-color: #F27405;
}

/*collapsible hidden by default*/
.content {
  padding: 0 18px;
  /*display: none;*/
  max-height: 0;
  overflow: hidden;
  background-color: #557AB5;
  /*padding-bottom: 50px;*/
  transition: max-height 0.2s ease-out;
}

/*Container positioning*/
.positionLeft {
  width: 50%;
  float: left;
  padding: 20px;
}

.positionRight {
  width: 50%;
  float: right;
  padding: 20px;
}

/*Spacer*/
.emptyBottom {
  height: 50px;
}

/*Story Containers*/
/*Data Sources*/
.sdsimgcontainer {
  display: 100%;
  padding-bottom: 50px;
}

.sdsimgcontainer figure img {
  width: 180px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18%;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.sdsimgcontainer figure img:hover {
  /*Makes orange shadow appear
  -moz-box-shadow: 100px 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  box-shadow: 20px 0px 0px #F27405;*/
  opacity: .5;
  transition: .3s;
}

/*Spatial Scale*/
#sssimgcontainer {
  padding: 20px;
  height: auto;
}

#msoaimg {
  max-width: 100%;
  height: auto;
}

/*Preventable Deaths*/
#spdimgcontainer {}

#spdChart {
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

/*Socioeconomic Indicators*/
#sseiimgcontainer {
  padding: 20px;
  height: auto;
}

#sAgeChart {
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

#sImdChart {
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

#sEthnicityChart {
  max-width: 800px;
  height: 400px;
  margin: 1em auto;
}

/*Analysis*/
#saimgcontainer {
  padding: 20px;
  height: auto;
}

/*-------------------------------Story page Footer---------------------*/

/* -----------------------The ScrollBar ----------------------*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0cde2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #35478C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #41508c;
  cursor: pointer;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #c0cde2;
  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(53, 70, 140)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255,165,0))'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255,165,0))'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(53, 70, 140)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255,165,0))'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(255,165,0))'><polygon points='0,0 100,0 50,50'/></svg>");
}
